.header {
  height: 60px;
  border-bottom: 1px solid #C4C4C4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header.isMobile {
  border-bottom: none;
  padding: 0 24px;
}
.user-info {
  margin-right: 136px;
  display: flex;
  align-items: center;
}

.user-info .right-part {
  display: flex;
  align-items: center;
}

.user-info.isMobile {
  width: 100%;
  justify-content: space-between;
  margin-right: 0;
}

.bell-icon {
  margin-right: 32px;
}

.bell-icon.isMobile {
  margin-right: -12px;
}

.user-name {
  font-family: Roboto Medium;
  font-size: 14px;
  color: #223273;
  line-height: 22px;
}

.user-avatar {
  width: 60px;
  height: 60px;
}